<template>
  <div class="card home">
    <h1 class="card-title">
      Welcome to your enrolment process <span>{{ username }} </span>!
    </h1>
    <div class="manage-course">
      <button class="btn btn-gradient" v-on:click="myCourses = !myCourses">
        My Courses
      </button>
      <button class="btn btn-gradient" v-on:click="addCourse = !addCourse">
        Add Course
      </button>
      <!-- <button class="btn btn-gradient" v-on:click="changeCourses = !myCourses">
        Change Name Courses
      </button>
      <button class="btn btn-gradient" v-on:click="deleteCourses = !myCourses">
        Delete Courses
      </button> -->
    </div>

    <div v-if="myCourses" class="course_container">
      <table class="tabla-cursos">
        <thead>
          <tr>
            <th>Course name</th>
            <th>Course date</th>
          </tr>
        </thead>

        <tbody>
          <tr class="course" v-for="course in courses" v-bind:key="course">
            <td>{{ course.regCourse }}</td>
            <td>{{ course.regCourseDate }}</td>
          </tr>
        </tbody>
      </table>
      <!-- <ul class="courses">
        <li class="course" v-for="course in courses" v-bind:key="course">
          {{ course.regCourse }} -- {{ course.regCourseDate }}
        </li>
      </ul> -->
    </div>

    <div v-if="addCourse" class="addCourse_container">
      <form @submit="addCourseRegistration">
        <input
          id="CourseName"
          type="text"
          v-model="addCourseName"
          placeholder="CourseName"
        />
        <input
          id="CourseDate"
          type="text"
          v-model="addCourseDate"
          placeholder="CourseDate ej:Monday-11am"
        />
        <button class="btn btn-gradient addB" type="submit">Add</button>
      </form>
      <!-- Hacer commit de prueba -->
    </div>
  </div>
</template>

<script>
export default {
  name: "Home",

  data: function() {
    return {
      loaded: false,
      is_auth: localStorage.getItem("isAuth"),
      username: localStorage.getItem("username") || "student",
      myCourses: false,
      addCourse: false,
      changeCourses: false,
      deleteCourses: false,
      addCourseName: "",
      addCourseDate: "",
      courses: [
        {
          regCourse: "Mathematics",
          regCourseDate: "Tuesday-9am",
        },
        {
          regCourse: "Laboratory",
          regCourseDate: "Friday-7am",
        },
      ],
    };
  },
  methods: {
    addCourseRegistration() {
      this.courses.push({
        regCourse: this.addCourseName,
        regCourseDate: this.addCourseDate,
      });
      this.addCourseName = "";
      this.addCourseDate = "";
    },
  },
};
</script>

<style>
.tabla-cursos {
  margin-top: 2rem;
  margin-bottom: 2rem;
  width: 20rem;
}

table {
  border-spacing: 1;
  border-collapse: collapse;
  background: white;
  border-radius: 0.4rem;
  overflow: hidden;
  width: 100%;
  margin: 0 auto;
}

table thead tr {
  background-color: var(--second);
  color: white;
  height: 3rem;
}

table tbody tr {
  color: #808080;
  height: 3rem;
}

table tbody tr:nth-of-type(even) {
  background-color: var(--gray-light);
}

table tr th,
table tr td {
  width: 25%;
  text-align: center;
}

table tr th {
  padding-left: 1rem;
}

table tr td {
  padding-left: 1rem;
}

table tr th:last-of-type {
  padding-right: 1rem;
}

table tr td:last-of-type {
  padding-right: 1rem;
}

.home {
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 20rem;
}

.manage-course {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.manage-course button {
  margin-bottom: 1rem;
}

.manage-course button:last-of-type {
  margin-bottom: 0;
}

.course_container {
  margin-top: 2rem;
  color: var(--gray-dark);
}

.addCourse_container {
  margin-top: 2rem;
}

@media (min-width: 1024px) {
  .home {
    width: auto;
  }

  .manage-course {
    flex-direction: row;
  }

  .manage-course button {
    margin: 0;
    margin-right: 1rem;
  }

  .manage-course button:last-of-type {
    margin-right: 0;
  }
}
</style>
