<template>
  <div class="signUp_user">
    <div class="card container_signUp_user">
      <h2 class="card-title">Sign Up</h2>

      <form v-on:submit.prevent="processSignUp">
        <input type="text" v-model="user.username" placeholder="Username*" />
        <input
          type="password"
          v-model="user.password"
          placeholder="Password*"
        />
        <input type="text" v-model="user.stuName" placeholder="Name*" />
        <input type="text" v-model="user.stuLastName" placeholder="Last name" />
        <input
          type="email"
          v-model="user.stuEmail"
          placeholder="example@example.com *"
        />

        <input type="text" v-model="user.stuPhone" placeholder="Phone" />

        <button class="btn btn-gradient" type="submit">Create account</button>
      </form>
    </div>
  </div>
</template>

<script>
import axios from "axios";

export default {
  name: "SignUp",

  data: function() {
    return {
      user: {
        username: "",
        password: "",
        stuName: "",
        stuLastName: "",
        stuEmail: "",
        stuPhone: "",
        registrations: [
          {
            student: "",
            regCourse: "",
            regCourseDate: "",
          },
        ],
      },
    };
  },

  methods: {
    processSignUp: function() {
      axios
          .post("https://faculty-be.herokuapp.com/student/", //update this url
            this.user,
            { headers: {} }
          )
          .then((result) => {
            let dataSignUp = {
              username: this.user.username,
              token_access: result.data.access,
              token_refresh: result.data.refresh,
            };

            this.$emit("completedSignUp", dataSignUp);
          })
          .catch((error) => {
            console.log(error);
            alert("Error creating account. Try again");
          });
    },
  },
};
</script>

<style>
input {
  margin-bottom: 0.5rem;
}
</style>
