<template>
  <div class="signIn_user">
    <div class="card container_signIn_user">
      <h2 class="card-title">Sign In</h2>

      <form v-on:submit.prevent="processSignInUser">
        <div class="form-item">
          <label for="username">Username</label
          ><input
            id="username"
            name="username"
            type="text"
            v-model="user.username"
            placeholder="Username"
          />
        </div>

        <div class="form-item">
          <label for="password">Password</label
          ><input
            id="password"
            name="password"
            type="password"
            v-model="user.password"
            placeholder="Password"
          />
        </div>

        <button class="btn btn-gradient" type="submit">Sign In</button>
      </form>
    </div>
  </div>
</template>

<script>
import axios from "axios";

export default {
  name: "SignIn",

  data: function() {
    return {
      user: {
        username: "",
        password: "",
      },
    };
  },

  methods: {
    processSignInUser: function() {
      axios
        .post(
          "https://faculty-be.herokuapp.com/login/", //update this url
          this.user,
          { headers: {} }
        )
        .then((result) => {
          let dataSignIn = {
            username: this.user.username,
            token_access: result.data.access,
            token_refresh: result.data.refresh,
          };
          this.$emit("completedSignIn", dataSignIn);
        })
        .catch((error) => {
          if (error.response.status == "401")
            alert("ERROR 401: Your username and/or password do not match.");
        });
    },
  },
};
</script>

<style></style>
