<template>
  <div id="app" class="app">
    <div class="header">
      <h2>MinTic G3 University</h2>
      <nav>
        <button class="btn btn-nav" v-if="is_auth" v-on:click="loadHome">Home</button>
        <button class="btn btn-nav" v-if="is_auth" v-on:click="logOut">Sign Out</button>
        <button class="btn btn-nav" v-if="!is_auth" v-on:click="loadSignIn">Sign In</button>
        <button class="btn btn-nav" v-if="!is_auth" v-on:click="loadSignUp">Sign Up</button>
      </nav>
    </div>

    <div class="main-component">
      <router-view
        v-on:completedSignIn="completedSignIn"
        v-on:completedSignUp="completedSignUp"
        v-on:logOut="logOut"
      >
      </router-view>
    </div>

    <div class="footer">
      <h2>Misión TIC 2022, P12 - G3</h2>
      <p>Todos los derechos reservados © Faculty</p>
    </div>
  </div>
</template>

<script>
export default {
  name: "App",

  data: function() {
    return {
      is_auth: false,
    };
  },

  components: {},

  methods: {
    verifyAuth: function() {
      this.is_auth = localStorage.getItem("isAuth") || false;

      if (this.is_auth == false) this.$router.push({ name: "signIn" });
      else this.$router.push({ name: "home" });
    },

    loadSignIn: function() {
      this.$router.push({ name: "signIn" });
    },

    loadSignUp: function() {
      this.$router.push({ name: "signUp" });
    },

    loadHome: function() {
      if (this.is_auth == true) this.$router.push({ name: "home" });
      else this.$router.push({ name: "singIn" });
    },

    logOut: function() {
      localStorage.clear();
      alert("Sesión Cerrada");
      this.verifyAuth();
    },

    // completedSignIn: function(data) {}, //borrar despues

    // completedSignUp: function(data) {}, //borrar despues

    completedSignIn: function(data) {
      localStorage.setItem("isAuth", true);
      localStorage.setItem("username", data.username);
      localStorage.setItem("token_access", data.token_access);
      localStorage.setItem("token_refresh", data.token_refresh);
      alert("Authentication successful");
      this.verifyAuth();
    },

    completedSignUp: function(data) {
      alert("Registration successful");
      this.completedSignIn(data);
    },
  },

  created: function() {
    this.verifyAuth();
  },
};
</script>

<style>
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");

:root {
	--first: #D225F8;
  --second: #8C5CF2;
  --third: #797FF2;
	--fourth: #52A8F2;
	--fifth: #11D9D9;
  --gray-dark: #292929;
  --gray-light: #eeeeee;
  --gradient: linear-gradient(225deg,var(--first), var(--second), var(--third), var(--fourth), var(--fifth));
  --gradient2: linear-gradient(270deg,var(--first), var(--second), var(--third), var(--fourth), var(--fifth));
	--primary-font: "Roboto", sans-serif;
}

*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
	background: var(--gradient);
	font-family: var(--primary-font);
	color: #ffffff;
}

.app {
  display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	height: 100%;
	min-height: 100vh;  
}

.header{
  width: 100%;
  background:none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header h2{
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.header nav{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 1rem;
}

.header nav button {
	margin-bottom: 1rem;
	margin-left: 1rem;
}

.header nav button:first-of-type{
	margin-left: 0;
}

.footer{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  background-color: var(--primary);
  align-items: center;
  width: 100%
}

.footer p{
  margin-bottom: 1rem;
  font-weight: 100;
}

.btn{
  text-decoration: none;
  text-align: center;
  padding: 0.8rem;
  border-radius: 0.4rem;
  text-transform: capitalize;
  border: none;
  transition-duration: .25s;
}

.btn:hover{
  cursor: pointer;
  transition-duration: .25s;
}

.btn-gradient{
  color: white;
  background: var(--gradient2);
}

.btn-nav{
  color: var(--gray-dark);
  background: white;
  transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
}

.btn-nav:hover {
  box-shadow: inset 0 0 20px var(--fourth), 0 0 20px var(--third);
  outline-color: rgba(49, 138, 172, 0);
  outline-offset: 80px;
  text-shadow: 1px 1px 6px #fff;
}

.card{
  background-color: white;
  padding: 3rem 2rem;
  border-radius: 0.4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card .card-title{
  color: var(--gray-dark);
  margin-bottom: 1.5rem;
  text-align: center;
}

.card label, .card h2{
  color: var(--gray-dark);
}

.card label{
  font-size: 0.9rem;
}

.card input{
  background: none;
  border: none;
  border-bottom: 0.15rem solid var(--gray-light);
  background-color: #fff;
  padding: 0.8rem;
  color: var(--gray-dark);
  outline: none;
  transition-duration: .25s;
}

.card input:focus{
  background-color: var(--gray-light);
}

.card form{
  display:flex;
  flex-direction: column;
  justify-content: space-between;
}

.card .form-item{
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 1rem;
}

.card .form-item:last-of-type{
  margin-bottom: 2rem;
}

/* PARA UNA PANTALLA DE COMPUTADOR O TABLET*/

@media (min-width: 1024px) {
	.header {
		flex-direction: row;
		justify-content: space-between;
	}

	.header h2{
		margin-left: 1rem;
    letter-spacing: 0.2rem;
	}

	.header nav{
    margin-bottom:0;
		flex-direction: row;
	}

	.header nav button{
		margin: 0;
		margin-right: 1rem;
	}

	.footer{
		flex-direction: row;
	}

	.footer h2{
		margin-left: 1rem;
	}

	.footer p{
		margin-right: 1rem;
	}
}

</style>
